*{margin: 0;padding: 0;border:none; outline:none;list-style-type:none;}
body{margin: 0 auto;}
#geral{width:100%;}
#telefone{margin:10px 0 15px 0;float: right;}
/*Menu*/
.menu{background: #096735;width: 100%;height: 100%;margin: 10px auto;float: left;}}
.menu{background: #096735;width: 100%;height: 100%;margin: 10px auto;float: left;}}
.menu ul{list-style: none;text-align: center;}
.menu li{float: left;text-align: center;margin-left: 10px;}
.menu li a{width: 12.5vw;height: 30px;display: block;padding: 18px 0;font-size: 20px;text-decoration: none;color: #ccc;
text-shadow: black 0px 2px, black 2px 0px, black -2px 0px, 
black 0px -2px, black -1.4px -1.4px, black 1.4px 1.4px, 
black 1.4px -1.4px, black -1.4px 1.4px;}
.menu li:nth-child(3){margin-right: 9vw;margin-left: 0;}
.menu li:nth-child(6) a{margin-right: 0;}
.menu li:nth-child(1n+4) a{text-align: right;margin-left: 2vw;}
.menu li:nth-child(1){margin-left: 4vw;}
header{min-height: 60px;top: 0;right: 0;left: 0;z-index: 2;}
header h1{padding: 10px 0 0 10px;}
header h1 a{color: #333;}
header li:first-child {border: none;}
header li a {display: block;padding: 0 10px;color: #999;font-size: 16px;line-height: 30px;text-decoration: none;-webkit-transition: all 300ms ease;
transition: all 300ms ease;}
input#control-nav {visibility: hidden;position: absolute;left: -9999px;opacity: 0;}
@media screen and (max-width: 767px) {header nav {position: fixed;top: 0;right: 0;bottom: 0;width: 250px;border-left: 1px solid #ccc;background: #fff;overflow-x: auto;
z-index: 105;-webkit-transition: all 500ms ease;transition: all 500ms ease;-webkit-transform: translate(100%, 0);-ms-transform: translate(100%, 0);
transform: translate(100%, 0);}
header ul.list-auto {padding: 0;}
header ul.list-auto li a{width: 100%;}
header ul.list-auto li{margin:0;}
header ul.list-auto li:nth-child(1n+4) a{margin: 0;text-align: center;}
header ul.list-auto li:nth-child(1){margin:0;}
header ul.list-auto li {width: 100%;height: 100%;border: solid #ccc;border-width: 0 0 1px;}
header li a {padding: 15px 10px;}
header li a:hover {width: 100%;background-color: #ccc;}
.control-nav {position: fixed;right: 20px;top: 20px;display: block;width: 30px;padding: 5px 0;border: solid #333;border-width: 3px 0;z-index: 106;cursor: pointer;}
.control-nav:before {content: "";display: block;height: 3px;background: #333;}
header.control-nav-close {position: fixed;right: 0;top: 0;bottom: 0;left: 0;display: block;z-index: 1;background: rgba(0,0,0,0.4);-webkit-transition: all 500ms ease;
transition: all 500ms ease;-webkit-transform: translate(100%, 0);-ms-transform: translate(100%, 0);transform: translate(100%, 0);}
input#control-nav {display: block;}
input#control-nav:focus ~ .control-nav {border-color: #000;box-shadow: 0px 0px 9px rgba(0,0,0,0.3);}
input#control-nav:focus ~ .control-nav:before {background: #000;}
input#control-nav:checked ~ nav,
input#control-nav:checked ~ .control-nav-close {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
.modal-content {padding: 10px 5%;min-width: 88%;}}
@media screen and (max-width: 480px) {header h1 {font-size: 20px;line-height: 40px;}}
@media screen and (min-width: 768px) {.logo amp-img{width: 180px;height: 100px; background-size: 100px 64px;position: absolute;margin-top: 26px;left: 43.5%;}}
@media screen and (max-width: 767px) {.logo amp-img{width: 180px;height: 100px;background-size: 100px 64px;position: absolute;margin-top: 26px;left: 15%;}}
@media screen and (min-width: 768px) {.logo-repre img{width: 180px;height: 100px;background-size: 100px 64px;position: absolute;margin-top: 26px;left: 43.5%;}}
@media screen and (max-width: 767px) {.logo-repre img{width: 180px;height: 100px;background-size: 100px 64px;position: absolute;margin-top: 26px;left: 14%;}}
.site{text-align: center;}
@media screen and (min-width: 768px){.scrollToTop{position:fixed;background: grey;top:90%;right:40px;display:none;border-radius: 100px;height: 35px;z-index: 1;}}
@media screen and (max-width: 767px){.scrollToTop{position:fixed;background: grey;top:94%;display:none;right: 0;}}
.scrollToTop:before {content: "";display: inline-block;vertical-align: middle;margin: 10px;width: 0; height: 0;border-left: 10px solid transparent;
border-right: 10px solid transparent;border-bottom: 10px solid black;}
/*Slide*/
.example-desc {margin:3px 0;padding:5px;}
@media screen and (min-width: 768px) {#carousel {width: 80vw;height:25vw;position:all;
	clear:both;overflow:hidden;background:#FFF;z-index: 0;}}
@media screen and (max-width: 767px) {#carousel{width: 80vw;height:70vw;position:absolute;clear:both;overflow:hidden;background:#FFF;z-index: 0;margin-top: 60px;}}
@media screen and (min-width: 768px) {#carousel img{visibility:hidden;cursor:pointer;}}
@media screen and (min-width: 768px) {#item-1,#item-2,#item-7,#item-8{width: 25vw;height: 25vw;}}
@media screen and (min-width: 768px) {#item-3{width: 27vw;height: 25vw;}}
@media screen and (min-width: 768px) {#item-4,#item-6{width: 25vw;height: 25vw;}}
@media screen and (min-width: 768px) {#item-5{width: 26vw;height: 25vw;}}
@media screen and (max-width: 767px) {#carousel img{width: 70vw;height: 70vw;visibility:hidden;cursor:pointer;}}
#callback-output {height:250px;overflow:scroll;}
textarea#newoptions {width:430px;}
@media screen and (min-width: 768px){#prev amp-img,#next amp-img{width: 5vw;height: 80px;margin: 0 3px 0 3px;}}
@media screen and (max-width: 767px) {#prev amp-img,#next amp-img{width: 5vw;height: 80px;margin-top: 60px;}}
.example-desc {margin:3px 0;padding:5px;}
#loading {display: block;width: 200px;}
.content { margin: 0 auto; }
#all {width: 1280px; overflow: hidden;}
/* Produtos pagina incial*/
section{width: 100%;height: 100%;}
@media screen and (min-width: 768px){#titulo-produtos{width: 100%;text-align: center;font-size: 40px;background:#096735;color:white;}}
@media screen and (max-width: 767px){#titulo-produtos{width: 100%;text-align: center;font-size: 30px;background:#096735;color:white;}}
@media screen and (min-width: 768px){#img{width: 10vw;height: 7vw;float: left;border: solid 1px white;}}
@media screen and (max-width: 767px){#img{width: 15vw;height: 10vw;border: solid 1px white;}}
@media screen and (min-width: 768px){#img2{width: 10vw;height: 7vw;float: right;border: solid 1px white;}}
@media screen and (max-width: 767px){#img2{width: 15vw;height: 10vw;float: right;border: solid 1px white;}}
@media screen and (min-width: 768px){#img3{width: 10vw;height: 7vw;margin-left: 10px;float: left;}}
@media screen and (max-width: 767px){#img3{width: 17vw;height: 10vw;float: left;margin-left: 3px;}}
@media screen and (min-width: 768px){#imagem-principal{width: 40vw;height: 40vw;}}
@media screen and (max-width: 767px){#imagem-principal{width: 60vw;height: 75vw;}}
#imagem-principal-cabos {width: 100%;height: 25vw;}
#botoes-direita{width: 295px;}
#botoes-esquerda{width: 322px;}
#portas-pagina-inicial{margin: 0 auto;}
/*Footer*/
#footer{width: 100%;height: 100%;background: #096735;margin-top: 10px; float: left;}
#footer h2{font-size: 40px;}
@media screen and (min-width: 768px){#contato{width: 50%;height: 260px;text-align: center;color: white;font-size: 20px;float: left;}}
@media screen and (max-width: 767px){#contato{width: 100%;height: 260px;text-align: center;color: white;font-size: 20px;}}
@media screen and (min-width: 768px){#endereco{width: 50%;height: 260px;text-align: center;color: white;font-size: 20px;float: left;}}
@media screen and (max-width: 767px){#endereco{width: 100%;height: 260px;text-align: center;color: white;font-size: 20px;}}
#autoria{width: 100%;height: 100%;background: grey;float: left;}
@media screen and (min-width: 768px){#autoria b{float: right;}}
@media screen and (max-width: 767px){#autoria b{float: left;}}
@media screen and (min-width: 768px){#autoria a{float: right;}}
@media screen and (max-width: 767px){#autoria a{float: right; margin-top: 18px;}}
/*Sub-menu Produtos*/
@media screen and (min-width: 768px){.sub-menu{width: 100%;height: 100%; float: left;}}
@media screen and (max-width: 767px){.sub-menu{width: 100%;height: 100%; float: left;margin-top: 80px;}}
.sub-menu ul{list-style: none;text-align: center;}
.sub-menu li{float: left;text-align: center;margin-left: 10px;}
@media screen and (min-width: 768px){.sub-menu li a{width: 150px;height: 30px;display: block;padding: 10px 0;font-size: 20px;text-decoration: none;margin: 10px 10px 0 0;
color: black;}}
@media screen and (max-width: 767px){.sub-menu li a{width: 100px;height: 30px;display: block;padding: 10px 0;font-size: 15px;text-decoration: none;margin: 10px 10px 0 0;
color: black;float: left;}}
.submenu-todos{border-bottom: solid 5px #096735;}
@media screen and (min-width: 768px){#prod{width: 16vw;height: 20vw;float: left;margin-top: 25px;}}
@media screen and (max-width: 767px){#prod{width: 100%;height: 400px;float: left;margin-bottom: 50px;}}
@media screen and (min-width: 768px){#prod amp-img{width: 16vw; height: 15vw;margin-top: 5px;}}
@media screen and (max-width: 767px){#prod amp-img{width: 100%; height: 400px;margin-top: 5px;}}
@media screen and (max-width: 767px){#prod p{width: 280px;}}
/*Sub Menu Angelim,HDF,MDF,Misto,Pinus,Eucalipto*/
.submenu-angelim, .submenu-hdf, .submenu-mdf, .submenu-misto, .submenu-pinus, .submenu-eucalipto, .submenu-cabo{border-bottom: solid 5px #096735;}
/*Cada Produto*/
@media screen and (min-width: 768px){.img-zoom{width: 400px; height: 500px;}}
@media screen and (max-width: 767px){.img-zoom{width: 100%; height: 20%;}}
@media screen and (min-width: 768px){#especificacoes{width:30vw; height: 300px;float: right;margin-right: 100px;}}
#titulo-espe {width: 100%; background: #BDBDBD;}
@media screen and (max-width: 767px){#especificacoes{width:100%; height: 300px;float: left}}
@media screen and (min-width: 768px){#especificacoes td {width: 10vw; margin:0;}}
@media screen and (max-width: 767px){#titulo-prod{margin-top: 70px;}}
@media screen and (min-width: 768px){#titulo-prod{width: 100%; margin:30px 0 30px 0; float: left;}}
@media screen and (min-width: 768px){#marco-hdf{width: 500px; height: 350px; float: right;margin-right: 100px;}}
@media screen and (max-width: 767px){#marco-hdf{width: 100%; height: 10%; float: right;}}
.img-zoom-cabo{width: 50vw;height: 300px;}
@media screen and (max-width: 767px){.img-zoom-cabo{width: 100%;height: 100px;}}
/*Empresa*/
#logo-empresa{width: 10vw;height: 100%; float: left;}
@media screen and (max-width: 767px){#logo-empresa{width: 0;height: 0; float: right;}}
@media screen and (min-width: 768px){#texto-empresa{width: 60vw;height:100%;float: left; font-size: 25px; margin: 30px;}}
@media screen and (max-width: 767px){#texto-empresa{width: 91%;height:100%;float: left; font-size: 25px; margin-top: 80px;}}
/*Localização*/
#localizacao{width: 50vw;height:30vw; float:left; font-size: 25px;margin-top: 30px;}
@media screen and (max-width: 767px){#localizacao{width: 100%;height:100%; float:left; font-size: 25px;margin-top: 30px;}}
@media screen and (max-width: 767px){#maps-google{width: 100%; margin-top: 80px;}}
/*Representantes*/
.mapa{width: 471px; height: 570px; float: left;}
@media screen and (max-width: 767px){.mapa{width: 0; height:0; float: left; margin-top: 80px;}}
#representante_atual{width: 20vw;height: 10vw; border: solid 1px;font-size: 20px;float: left;}
@media screen and (max-width: 767px){#representante_atual{width: 0;height: 0; border: solid 1px;float: left;font-size: 20px;}}
#repre{width: 280px;height: 14vw; border: solid 1px;font-size: 20px;float: left;}
@media screen and (max-width: 767px){#repre{width: 280px;height: 100%; border: solid 1px;font-size: 20px;float: left;}}
@media screen and (min-width: 768px){#titulo-representantes{width: 100%;margin-top: 80px; float: left;}}
@media screen and (max-width: 767px){#titulo-representantes{margin-top: 80px;}}